<%- include("partials/header.ejs") %>

<div class="content m-3 container">
  <nav
    style="
      --bs-breadcrumb-divider: url(
        &#34;data:image/svg + xml,
        %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
      );
    "
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-decoration-none" href="#">Cars</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a class="text-decoration-none" href="#">List Car</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add New Car</li>
    </ol>
  </nav>

  <h1 class="text-title">Add New Car</h1>
  <div class="form shadow">
    <form action="/api/v1/car" method="post" enctype="multipart/form-data">
      <div class="row mb-3">
        <label for="name" class="col-sm-3 col-form-label">Nama</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="name" name="name" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="price" class="col-sm-3 col-form-label">
          Sewa Per Hari
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="price" name="price" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="category" class="col-sm-3 col-form-label">Kategori</label>
        <div class="col-sm-9">
          <select id="category" name="category" class="form-select">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="image" class="col-sm-3 col-form-label">Image</label>
        <div class="col-sm-9">
          <input class="form-control" type="file" id="image" name="image" />
        </div>
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Submit
      </button>
    </form>
  </div>
</div>

<%- include("partials/footer.ejs") %>
